import React, {Fragment} from 'react'

import TimeAgo from 'react-timeago'
import Link from 'next/link'
import User from '../User.js'

export default (props) => {
  const data = props.data

  function reference_contract_link(){
    if(props.reference_contract){
      return (
                    <Link href={"/{{contract}}{{reference_contract}}?address="+data[props.reference_contract]}>
                      <a className="button is-warning has-text-white is-bold">
                        <span>View all {{contract}} with same {{reference_contract}}</span>
                      </a>
                    </Link>
      ) 
    }else{
      return (<></>);
    }
  }
  function reverse_reference_contract_link(){
console.log('data',data)
      return (
              <>
  {{#each this_reverse_references }}

                    <Link href={"/{{this}}{{../contract}}?address="+data['_address']}>
                      <a className="button is-warning has-text-white is-bold">
                        <span>View all {{this}} with same {{../contract}}</span>
                      </a>
                    </Link>

  {{/each}}

            </>
      ) 
  }


  return (
<section className='hero is-primary mb-6'>
  <div className='hero-body'>
    <div className='container'>
      <div className='columns'>
        <div className='column is-one-quarter'>
          <User sender={data.sender} key={props.key} />
        </div>
        <div className='column'>
          {{#each contract_data.initRules.passIn}}
            <h1 className='title'>
              {{this}}
            </h1>
            {{#if (checkFieldIsImage this)}}
              <h2 className='subtitle'>
                <img src={data.{{this}} }  style={ { backgroundColor:"white"} }/>
              </h2>
            {{else}}
              <h2 className='subtitle'>
                {data.{{this}} }
              </h2>
            {{/if}}
          {{/each}}
          <h2 className='subtitle'>
            <TimeAgo date={data.timestamp * 1000} />
          </h2>
                   {reference_contract_link()}
                   {reverse_reference_contract_link()}
        </div>
      </div>
    </div>
  </div>
</section>
)
}
